*.h
*.cpp
!core/devtools/widget/imgui_c_api.h
!core/devtools/widget/imgui_c_api.cpp
!core/devtools/widget/memory_map.h
!core/devtools/widget/memory_map.cpp
!core/libraries/network/net_elisa_bridge.cpp
!core/libraries/save_data/savedata_elisa_bridge.cpp
!core/libraries/videoout/videoout_elisa_bridge.cpp
/externals
